.content {
  width: 100%;
  min-width: 400px;

  .v-slide-group__container {
    background-color: $gray-50;
  }
  .v-tab__slider {
    border-bottom: 3px solid #7367f0;
  }
  .v-slide-group-item--active {
    color: $gray-200;
  }
  .v-card {
    border: none !important;
  }
  &-tabs {
    color: $gray-100;
    border: none !important;
    @include font-size(18, 21, 700);
    text-transform: capitalize !important;
  }

  .v-card-text {
    background-color: $gray-50;
    padding: 0px !important;
  }
}
#card {
  .v-card-text {
    background-color: $gray-50;
    padding: 0px 20px !important;
  }
}
#border {
  .v-slide-group__content {
    border-bottom: 2px solid #dddddd !important;
  }
}

.content-card {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.content-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.age-days {
  display: flex;
  flex-direction: column;

  h2 {
    color: $gray-100;
    @include font-size(14, 17, 700);
  }
  p {
    color: $gray-100;
    @include font-size(18, 21, 700);
  }
}

.content-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid #888888c3;
}

.created,
.createDate {
  color: $gray-100;
  @include font-size(14, 17, 700);
  padding-top: 10px;
}

.border-tabs {
  border-bottom: 1px solid $gray-100;
}
.subPanels {
  .v-card-text {
    background-color: $white;
  }
  .v-slide-group__container {
    background-color: $gray-50;
  }
  .v-slide-group-item--active {
    background: $white !important;
  }
  .v-tab__slider {
    display: none !important;
  }
  .v-btn {
    border-radius: 6px 0px !important;
  }
}

.cards {
  background-color: white;
  border: white;
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
}
.v-expansion-panel-text__wrapper {
  padding: 1px 15px 13px !important;
  margin-top: -0.7rem !important;
}

.flexColapse {
  line-height: 1.5 !important;
}
.title {
  margin-top: 5px;
}

.risk-detail {
  @include font-size(14, 30, 700);
  color: $gray-100;
}

.v-expansion-panel__shadow {
  box-shadow: none !important;
}

.manage {
  background-color: white;
  width: 340px;
  padding: 10px;
  border-radius: 6px;

  .p-manage {
    color: #7367f0;
    font-family: 12px;
    font-weight: 700;
  }
}

.emails {
  margin-top: -8px;
}

.avatarsFlex {
  .mdi-check-circle::before {
    display: block !important;
    margin-top: 2px !important;
    padding: 5px !important;
  }
  .mdi-calendar::before {
    margin-top: 3px !important;
  }
}

.materialIcons {
  color: $white;
  background-color: #91cc75;
  border-radius: 100px;
  padding: 7px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  align-items: center;
}
