.activity {
  .v-input__control {
    height: 50px !important;
    color: #a09dab !important;
  }
  margin-bottom: 40px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    @include device-lg("max") {
      flex-direction: column;
    }
    p {
      color: $gray;
      @include font-size(18, 20, 500);
    }
  }
  &-select {
    display: flex;
    gap: 10px;
    @include device-lg("max") {
      flex-direction: column;
      justify-content: center;
    }
  }
}
.timeline-p {
  color: $gray;
  @include font-size(14, 20, 700);
}
.none {
  display: none;
}

.v-input__control {
  border: 10 solid $gray !important;
  padding: 3px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top: 10px;
  h2 {
    color: $violet;
    @include font-size(14, 17, 700);
  }
  @include device-sm("max") {
   width: 100%;
  }
}

.tbasTineline {
  .v-slide-group-item--active {
    color: $gray-200;
  }
  color: #6e6b7b;
  background-color: $gray-50;
  @include font-size(16, 21, 700);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.cardTimeline {
  border-radius: 4px;
  padding: 10px;
  background: #f0f0f0;
  width: 100% !important;
  min-width: auto;
}
.border-none-tabs {
  border: none;
}

.v-timeline-item__body {
  width: 100%;
}

.timelineContainer {
  overflow-y: scroll;
  height: 385px;
  margin: 10px;
  margin-left: -0.2rem;
}
.timeline-title {
  color: $violet;
  @include font-size(12, 21, 700);
}

.date {
  display: flex;
  justify-content: space-between;
  color: $gray;
  @include font-size(12, 21, 700);
  &-p {
    color: $gray;
    margin-bottom: 10px;
  }
  &-p-text {
    @include font-size(12, 21, 700);
    color: $gray;
  }
}

.v-icon--size-x-small {
  width: 3px !important;
}

.v-timeline--vertical.v-timeline {
  row-gap: 9px !important;
  margin: 5px;
  margin-left: 0 !important;
  grid-template-columns: 0 60px 1fr !important;
}

.v-timeline > .v-timeline-item:first-child .v-timeline-divider__before {
  display: none;
}

.v-card-text {
  border: none !important;
  border-radius: none !important;
}

.select-primary {
  width: 110px;
  height: 38px;
  outline: #d8d6de;
}

.v-messages {
  display: none;
}
.text_2_latter,
.text_3_latter {
  width: 274px;
}

.text_7_latter,
.text_8_latter {
  width: 230px;
}
.v-timeline--vertical .v-timeline-item:last-child .v-timeline-divider__after {
  display: none !important;
}
.v-select .v-field .v-text-field__prefix,
.v-select .v-field .v-text-field__suffix,
.v-select .v-field .v-field__input,
.v-select .v-field.v-field {
  color: var(--Default-Text, #6e6b7b) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-feature-settings: "clig" off, "liga" off;
  margin-bottom: -3rem;
}

.placeholder {
  .v-field--center-affix .v-label.v-field-label {
    color: var(--Default-Text, #6e6b7b) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-feature-settings: "clig" off, "liga" off;
  }
}
.v-timeline-divider__dot--size-small .v-timeline-divider__inner-dot {
  height: calc(100% - 6px) !important;
  width: calc(100% - 6px) !important;
}

.v-timeline--vertical .v-timeline-divider__before{
  top:3px !important;
}
.v-timeline--vertical.v-timeline.v-timeline--side-end .v-timeline-item .v-timeline-item__body{
  padding-inline-start:0px !important;
}